<div id="newGameDetails">
    <div class="column">
        <button class="addBtn" id="presetSprites">Preset Sprites</button>
        <div id="spriteTemplateList">

        </div>
        <div>
            <h3>Sprite Preview</h3>
            <canvas id="spritePreviewCanvas"></canvas>
        </div>
        <div id="spriteProperties">

        </div>
        <div id="controlActions">

        </div>
        <div id="addActions"></div>
        <div>
            <button class="addBtn">Add Background Picture</button>
            <button class="addBtn" id="addSpriteBtn">Add Sprite to Game</button>
        </div>
    </div>
    <div class="column">
        <div id="startGameBtn" class="addBtn">
            Start Game
        </div>
        <div id="pauseGameBtn" class="addBtn">
            Pause Game
        </div>
        <div>
            <h3>Full Game Preview</h3>
            <canvas id="preview"></canvas>
        </div>
    </div>
</div>